body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#f4875b;
  overflow:hidden;
  color:white;
}

/* solid background */
.background{
  position:fixed;
  width:100%;
  height:100%;
  background:#f4875b;
}

/* stripes container */
.stripes{
  position:absolute;
  bottom:25%;
  width:100%;
}

/* stripe styles */

.stripe{
  height:40px;
  width:100%;
}

.red{
  background:#a5344d;
}

.white{
  background:#e8e4dc;
}

.green{
  background:#3da98d;
}

.blue{
  background:#6ec0d9;
}

.purple{
  background:#7d4b86;
}

/* menu */

.menu{
  position:absolute;
  right:120px;
  bottom:26%;
  display:flex;
  flex-direction:column;
  gap:10px;
  font-size:28px;
  font-weight:bold;
}

.menu a{
  text-decoration:none;
  color:white;
}

/* dancer placeholder */

.dancer-placeholder{
  position:absolute;
  bottom:23%;
  left:35%;
  width:200px;
  height:350px;
  background:black;
  opacity:.7;
  border-radius:40px;
}

/* student id */

.sid{
  position:absolute;
  top:20px;
  right:20px;
  font-size:14px;
}
